<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Display Function</h1>
<table>
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                model
            </th>
            <th>
                voditel
            </th>
            <th>
                nomer
            </th>
            <th>
                online
            </th>
        </tr>
    </thead>
    <tbody>
    {% for result in car%}
    <tr>
        <td>{{result.id}}</td>
        <td>{{result.moddel}}</td>
        <td>{{result.voditel}}</td>
        <td>{{result.nomer}}</td>
        <td>{{result.online}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<table>
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                nomer
            </th>
             <th>
                voditel
            </th>
             <th>
                passajir
            </th>
            <th>
                naznach
            </th>
            <th>
                sms
            </th>
        </tr>
    </thead>
    <tbody>
    {% for result in order%}
    <tr>
        <td>{{result.id}}</td>
        <td>{{result.nomer}}</td>
        <td>{{result.voditel}}</td>
        <td>{{result.passajir}}</td>
        <td>{{result.naznach}}</td>
        <td>{{result.sms}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<!--<h1>Add Function</h1>
    {% for result in mesta %}
        <p>
            Sum of {{result.id}}
            and {{result.sms}}
            is {{result.id|add:result.sms}}
        </p>
    {% endfor %}-->
</body>
</html>