<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Display Function</h1>
<table>
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                nazvanie
            </th>
            <th>
                time
            </th>
            <th>
                audit
            </th>
        </tr>
    </thead>
    <tbody>
    {% for result in predmet%}
    <tr>
        <td>{{result.id}}</td>
        <td>{{result.nazvanie}}</td>
        <td>{{result.time}}</td>
        <td>{{result.audit}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<table>
    <thead>
        <tr>
            <th>
                id
            </th>
            <th>
                login
            </th>
             <th>
                passw
            </th>
             <th>
                propusk
            </th>
        </tr>
    </thead>
    <tbody>
    {% for result in uchet%}
    <tr>
        <td>{{result.id}}</td>
        <td>{{result.login}}</td>
        <td>{{result.passw}}</td>
        <td>{{result.propusk}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<!--<h1>Add Function</h1>
    {% for result in mesta %}
        <p>
            Sum of {{result.id}}
            and {{result.sms}}
            is {{result.id|add:result.sms}}
        </p>
    {% endfor %}-->
</body>
</html>